<ul class="sidebar">

  <li>
    <a class="sidebar__item" tuiLink icon="tuiIconSettings" iconAlign="left" routerLink="/app-initializer" routerLinkActive="sidebar__item--active">
      App Initializer
    </a>
  </li>
  <li>
    <a class="sidebar__item" tuiLink icon="tuiIconEdit" iconAlign="left" href="" routerLinkActive="sidebar__item--active">
      Reactive Forms
    </a>
  </li>
  <li>
    <a class="sidebar__item" tuiLink icon="tuiIconCall" iconAlign="left" routerLink="/comunication-pattern" routerLinkActive="sidebar__item--active">
      Comunication Patterns
    </a>
  </li>
  <li>
    <a class="sidebar__item" tuiLink icon="tuiIconCheckList" iconAlign="left" href="" routerLinkActive="sidebar__item--active">
      Dependency Inyection
    </a>
  </li>
  <li>
    <a class="sidebar__item" tuiLink icon="tuiIconUndo" iconAlign="left" href="" routerLinkActive="sidebar__item--active">
      Reactive Programming
    </a>
  </li>
  <li>
    <a class="sidebar__item" tuiLink icon="tuiIconUndoLarge" iconAlign="left" href="" routerLinkActive="sidebar__item--active">
      App Initializer
    </a>
  </li>
</ul>
