<h1>Comunication patterns</h1>

<p>
  Is recomended divide UI components from logic components,
  in this case we have search component that deliver a pokemon to the parent component, to improve the maintainability is better that
  search component only deliver the typed string and the consumer manage to call where he need.
</p>

<div class="horizontal-divider-1"></div>

<app-child
  (searchPokemon)="getPokemon($event)">
  Search Pokemon
</app-child>

<div class="horizontal-divider-1"></div>
<app-pokemon-card
  [routerLink]="['/multiple-stream', selected.id]"
  [pokemon]="selected"
  *ngIf="selected?.name">
</app-pokemon-card>
