.pokemon__grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  overflow-y: scroll;
  height: 82vh;
  padding: 0.5rem;
  justify-items: center;
}
