.icon {
  border-radius: 100%;
  height: 100px;
  width: 100px;
  transition: 200ms all;
}

.icon:not(:first-child) {
  margin-left: 1rem;
}

.icon:hover{
  filter: saturate(200%);
  transform: scale(1.1);
  cursor: pointer;
}

.icon img {
  height: 60%;
  width: 60%;
  margin: 20%;
}

.bug {
  background: #92BC2C;
  box-shadow: 0 0 20px #92BC2C;
}

.dark {
  background: #595761;
  box-shadow: 0 0 20px #595761;
}

.dragon {
  background: #0C69C8;
  box-shadow: 0 0 20px #0C69C8;
}

.electric {
  background: #F2D94E;
  box-shadow: 0 0 20px #F2D94E;
}

.fire {
  background: #FBA54C;
  box-shadow: 0 0 20px #FBA54C;
}

.fairy {
  background: #EE90E6;
  box-shadow: 0 0 20px #EE90E6;
}

.fighting {
  background: #D3425F;
  box-shadow: 0 0 20px #D3425F;
}

.flying {
  background: #A1BBEC;
  box-shadow: 0 0 20px #A1BBEC;
}

.ghost {
  background: #5F6DBC;
  box-shadow: 0 0 20px #5F6DBC;
}

.grass {
  background: #5FBD58;
  box-shadow: 0 0 20px #5FBD58;
}

.ground {
  background: #DA7C4D;
  box-shadow: 0 0 20px #DA7C4D;
}

.ice {
  background: #75D0C1;
  box-shadow: 0 0 20px #75D0C1;
}

.normal {
  background: #A0A29F;
  box-shadow: 0 0 20px #A0A29F;
}

.poison {
  background: #B763CF;
  box-shadow: 0 0 20px #B763CF;
}

.psychic {
  background: #FA8581;
  box-shadow: 0 0 20px #FA8581;
}

.rock {
  background: #C9BB8A;
  box-shadow: 0 0 20px #C9BB8A;
}

.steel {
  background: #5695A3;
  box-shadow: 0 0 20px #5695A3;
}

.water {
  background: #539DDF;
  box-shadow: 0 0 20px #539DDF;
}


.pokemon__card {
  display: flex;
  border: 1px solid var(--tui-base-03);
  border-radius: 10px;
  padding: 0.5rem 1rem;
  flex-direction: column;
  width: fit-content;
  max-width: 20rem;
  min-height: 24rem;
  cursor: pointer;
  transition: 300ms ease-in-out;

  &__image {
    width: 13rem;
    margin: auto;
  }

  &__name {
    font-size: 1.8rem;
    text-transform: capitalize;
  }


  &__description {
    line-height: 1.5rem;
  }

  &__types {
    display: flex;
    justify-content: flex-end;

    &__type {
      width: 3rem;
      height: 3rem;
    }
  }

  &:hover {
    transform: scale(1.02);
    /* box-shadow: 0px 2px 1px 1px rgb(255 248 248 / 75%); */
    /* -webkit-box-shadow: 10px 10px 5px 0px rgb(255 248 248 / 75%); */
    -moz-box-shadow: 10px 10px 5px 0px rgba(255,248,248,0.75);
    box-shadow: 4px 7px 11px 0px rgb(250 250 250);
    -webkit-box-shadow: 2px 3px 10px 0px rgb(250 250 250);
    -moz-box-shadow: 4px 7px 11px 0px rgba(250,250,250,1);
  }

}


